<div class="career-container">
  <div class="career-content">
    <!-- <div class="career-logo">
      <img src="assets/devlabs.png" alt="V4 DevLabs Logo" />
    </div> -->

    <h1 class="coming-title">Careers at V4</h1>
    <p class="coming-subtitle">We’re working on something awesome.</p>

    <form
      action="https://formspree.io/f/mvgqwraz"
      method="POST"
      class="notify-form"
    >
      <p class="sub-text">Get notified when we go live</p>
      <input
        type="email"
        name="email"
        placeholder="you@example.com"
        required
      />
      <button type="submit">Notify Me</button>
    </form>

    <div class="social-icons">
      <a href="https://www.instagram.com/v4devlabs?igsh=bnF1aTdmZGI0dWxq" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/company/v4-codelabs/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>

    <footer class="career-footer">
      © 2025 V4 DevLabs. All rights reserved.
    </footer>
  </div>
</div>
