<div class="products-page">

  <section class="hero-section">
    <div class="left">
      <h1><span>CODE</span><br><span>CONSTRUCT</span><br>CHANGE</h1>
    </div>
    <div class="middle">
      <img src="assets/v4codeacademy.png" alt="Profile" />
    </div>
    <div class="right">
      <p class="quote">
        “I’ve seen so many students finish their degrees without the skills to actually build real
        projects. V4 Code Academy was created to change that—an affordable space where students learn to code by doing,
        not just by memorizing.”
      </p>
      <p class="signature">Varun Babu</p>
      <div class="social-links">
        <p>CEO & Founder</p>
      </div>
    </div>
  </section>

  <section class="courses-section">
    <h2 class="section-title">Courses We Offer</h2>
    <p class="section-subtitle">
      Our courses are designed to provide hands-on experience and practical skills that prepare you for real-world
      challenges.
    </p>
    <div class="course-cards">
      <mat-card class="course-card" *ngFor="let course of courses; let i = index" [ngClass]="{ active: i === 1 }">
        <h4 class="course-title">{{ course.title }}</h4>
        <p class="course-duration">{{ course.duration }}</p>
        <p class="course-price">₹{{ course.fee }}<span>/course</span></p>
        <ul class="course-features">
          <li *ngFor="let feature of course.features">{{ feature }}</li>
        </ul>

        <button mat-flat-button color="accent" class="enroll-btn" *ngIf="course.status === 'active'; else filledTemplate"
          (click)="goToExternalLink()">
          ENROLL NOW
        </button>

        <ng-template #filledTemplate>
          <button mat-flat-button class="enroll-btn filled" disabled>
            FILLED
          </button>
        </ng-template>

      </mat-card>
    </div>
  </section>
</div>